<div class="templatemo-content-container">
    <div class="row mt-5">
        <div class="col-3">
            <input [(ngModel)]="service.nomService" type="text" class="form-control m-1" placeholder="Nom du service">
        </div> 
        <div class="col-3">
            <input [(ngModel)]="service.description" type="text" class="form-control m-1" placeholder="Description">
        </div>
        <div class="col-3">
            <input [(ngModel)]="service.typeService" type="text" class="form-control m-1" placeholder="Type">
        </div>
        <!-- Ajouter un champ pour le shelter associé -->
        <div class="col-3">
            <input [(ngModel)]="service.idShelter" type="number" class="form-control m-1" placeholder="Identifiant du Shelter">
        </div>
        <div class="col-3">
            <button (click)="update()" class="btn btn-primary form-control m-1 text-light">Update</button>
        </div>  
    </div>
</div>
