
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
<link href="/assets/BackOffice/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/BackOffice/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/BackOffice/css/templatemo-style.css" rel="stylesheet" >
<!-- Head content -->

<!-- Sidebar Component -->

<div class="templatemo-flex-row"> 
<app-sidebar-back></app-sidebar-back>
<div class="templatemo-content col-1 light-gray-bg">
<app-main-back></app-main-back>
<div class="templatemo-content-container">
  <router-outlet></router-outlet>

</div>
</div>
</div>


<script src="/assets/BackOffice/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
<script src="/assets/BackOffice/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script src="/assets/BackOffice/https://www.google.com/jsapi"></script> <!-- Google Chart -->
<script>
  /* Google Chart 
  -------------------------------------------------------------------*/
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart); 
  
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);

      // Set chart options
      var options = {'title':'How Much Pizza I Ate Last Night'};

      // Instantiate and draw our chart, passing in some options.
      var pieChart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
      pieChart.draw(data, options);

      var barChart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
      barChart.draw(data, options);
  }

  $(document).ready(function(){
    if($.browser.mozilla) {
      //refresh page on browser resize
      // http://www.sitepoint.com/jquery-refresh-page-browser-resize/
      $(window).bind('resize', function(e)
      {
        if (window.RT) clearTimeout(window.RT);
        window.RT = setTimeout(function()
        {
          this.location.reload(false); /* false to get page from cache */
        }, 200);
      });      
    } else {
      $(window).resize(function(){
        drawChart();
      });  
    }   
  });
  
</script>
<script type="text/javascript" src="/assets/BackOffice/js/templatemo-script.js"></script> 
     <!-- Templatemo Script -->
