<div class="templatemo-content-container">
    <div class="row mt-5">
        <div class="col-3">
            <input [(ngModel)]="aide.description" type="text" class="form-control m-1" placeholder="Description">
        </div>
        <div class="col-3">
            <input [(ngModel)]="aide.duree" type="number" class="form-control m-1" placeholder="Durée">
        </div> 
        <div class="col-3">
            <input [(ngModel)]="aide.montant" type="number" class="form-control m-1" placeholder="Durée">
        </div> 
        <div class="col-3">
            <select [(ngModel)]="aide.typeAide" class="form-control m-1">
                <option value="MONEY">Money</option>
                <option value="CLOTHES">Clothes</option>
                <option value="VOLUNTEER_HOURS">Volunteer Hours</option>
                <option value="MEDICAMENT">Medicament</option>
                <option value="ADDITIONAL_SPACE">Additional Space</option>
            </select>
        </div>
        <div class="col-3">
            <button (click)="ajout()" class="btn btn-primary form-control m-1 text-light">Créer</button>
        </div>  
    </div>
</div>