<div class="templatemo-content-container">
    <button class="btn btn-success mb-3" routerLink="/admin/ajoutServiceAndAffect">Ajouter un service</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Service</th> 
                <th>Description</th>
                <th>Type</th>
                <th>Nom de l'abri</th>
                <th>Identifiant de l'abri</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of servicesWithShelters">
                <td>{{ service.nomService }}</td>  
                <td>{{ service.description }}</td>
                <td>{{ service.typeService }}</td>
                <td>{{ service.nomShelter }}</td>
                <td>{{ service.idShelter }}</td>
                <td>
                    <button [routerLink]="'/admin/editService/' + service.idService" class="btn btn-info">Edit</button>
                    <button (click)="delete(service.idService)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
